/*

/forge/.gradle
/forge/build
/forge/run
/fabric/.gradle
/fabric/build
/fabric/run
/common/.gradle
/common/build

!/gradle
!/common
!/fabric
!/forge

!/build.gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/README.md
!/LICENSE
!/update.json
!/changelog.md
!/.gitignore
!/settings.gradle